div#cmsOverlay {
	position: fixed;
	z-index:99;
	top: 0px;
	left: 0px;
	background-color:#000;
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	height:100%;
	width:100%;
	display: none;
}

div#cmsRowHilite,
div#cmsBlockHilite {
	opacity: 0.05;
	background-color: #000;
	cursor: pointer;
	position: absolute;
	z-index: -1;
	display: none;
}

div#cmsBlockHilite {
	background-image: url(../images/bg_trans.png);
	opacity: 0.5;
	background-color: transparent;
	z-index: 5;
}

div.row_editable, 
p.row_editable,
div.block_editable, 
p.block_editable {
	margin: 0px;
	border: 1px dashed #004E98;
	padding: 2px;
	margin-bottom: 4px;
	margin-right: 6px;
	overflow: hidden;
}

div.block_editable, 
p.block_editable {
	border-color: #AE0345;
	margin: 3px;
}

div.row_new,
div.block_new {
	margin: 0px;
	border: 1px dashed #004E98;
	margin-bottom: 4px;
	margin-right: 2px;
	text-align: center;
	overflow: hidden;
	display: none;
}

div.row_new {
	padding: 0px;
	margin-right: 6px;
}

div.block_new {
	border-color: #AE0345;
	margin: 4px 3px 3px;
}


div.block_new a, 
div.block_new a:visited, 
div.block_new a:active,
div.block_new a:hover,
div.row_new a, 
div.row_new a:visited, 
div.row_new a:active,
div.row_new a:hover {
	background-color: #ECECEC;
	color: #7E8286;
	text-decoration: none;
	display: block;
	padding: 2px;
}

div.row_new a,
div.row_new a:visited, 
div.row_new a:active,
div.row_new a:hover {
	
}

div.block_new a:hover,
div.row_new a:hover {
	background-color: #7E8286;
	color: #FFFFFF;
	font-weight: bold;
}